html {
    position: relative;
    min-height: 100%;
}

body {
 	box-sizing: border-box;
 	margin: 0 0 100px;
 	padding: 0;
 	font-size: 16px;
 	background: #fff;
    color: #393939;
    font: normal normal 16px 'Times New Roman', Times, FreeSerif, serif;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

ul, li, footer {
	margin: 0;
	padding: 0;
}

/*Main frame style*/
#container, header, footer { 
    margin-left: auto;
    margin-right: auto;
}

/*Header*/
#header-wrap {
    height: 100px;
    border-bottom: 2px solid #cbe2ef;
}

/*Footer*/
#footer-wrap {
    height: 50px;
    border-top: 2px solid #cbe2ef;
    display: block;
}

#footer-wrap, #header-wrap {
	margin-right: 3em;
    margin-left: 3em;
}

/*Style of the logo, quote*/
#scope-quote {
    color: #cbe2ef;
    text-align: center;
    width: 100%;
    margin: 0;
}

#site-logo {
	color: #254e7b;
	font-size: 30px;
	width: 100%;
}

#logo-center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*Menu navigation and icons*/
#nav-menu {
	text-align: center;
}

.nav-menu-links{
	display: inline-block;
	width: 100px;
	margin: 0;
}

/*Basic links style*/
a {
	text-decoration: none;
}
/* unvisited link */
a:link {
    color: #5584b1;
}

/* visited link */
a:visited {
    color: #254e7b;
}

/* mouse over link */
a:hover {
    color: #85c1e5;
}
