{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>
	{% block title %}Anna Krupp: Cherchezlafemme{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="script" href="{% static 'js/script.js' %}" />
</head>
<body>

	<header>
	{% block header %}
		<div id='header-wrap'>

			<div id='logo-center'>
				<h1 id="site-logo" class='nav-menu-links'>Anna Krupp</h1>
				<div id='scope-quote'>Learn something everyday.</div>
			</div>

			<div id="nav-menu">
		     	<ul>
				    <li class='nav-menu-links'><a href="{% url 'projects' %}">Projects</a></li>
				    <li class='nav-menu-links'><a href="{% url 'about' %}">About</a></li>
				    <li class='nav-menu-links'><a href="{% url 'experience' %}">Experience</a></li>
		        </ul>
	    	</div>

		</div>

		<div class="icon-container" id='contact-icon'>
			<a href="{% url 'contact' %}"><img class='icon' src="/static/images/envelope.svg" alt='contact-me'></a>
		</div>
	
	{% endblock %}
	</header>
	<div id='main'>
		{% block content %}{% endblock %}
		{% block footer %}
		<footer>
			<div id='footer-wrap'>
				<p>Icon Credits: <a href='https://thenounproject.com/iconka/'>Denis Sazhin</a> from the Noun Project.</p>
				<p>Copyright © 2016 Anna Krupp. All rights reserved.</p>
			</div>
		</footer>
		{% endblock %}
	</div>
	</body>
</html>