<div class='container top-border'>
  <h3 class='sep-page-title'>Alma Mater</h3>

  <h3>Full-stack web-development: DevBootcamp 2016 Graduate</h3>

  <p>

  </p>


  <h3>Master's degree in Arts and Humanities, Social Communications: Saint Petersburg State University 2011 – 2013</h3>
  <h3>Bachelor's degree in Philology, Literature and Russian and Italian: Novosibirsk State University 2007 – 2011</h3>

  <p><a href="{% url 'experience' %}" alt='experience'><img class='icon icon-container' src='/static/images/world_experience.svg' alt='experiencie'/></a>Places and people I learned from</p>
</div>