<div class='container top-border'>
	<h3>Giving back to the community</h3>

	<p>I was helping a non-profit organization 'All Chicago' to MAKE HOMELESSNESS HISTORY. I worked with marketing director on developing new marketing strategy that was focused on raising awarness in Chicago community about homelessness and getting funds to help those in need. I was responsible of setting app Google Analytics account for the company. I helped the team learn a new to them technology and lead the optimization of social media channels. I also participated in organization of annual "Purse Power 2014" event.</p>

	<p><a href="{% url 'volunteer' %}" alt='volunteer-experience'><img class='icon icon-container' src='/static/images/community.svg' alt='about-page'/></a>See other causes I am passionate about</p>
</div>