{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Adventure Wave</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
	<link rel="script" href="{% static 'js/script.js' %}" />
</head>
<body>
	<header> 
		<div class="img-container">
		</div>
		<div id='header-wrap'>
			<div id="nav-menu">
		     	<ul>
				    <li class='nav-menu-links'><a href="#" class="active">About</a></li>
				    <li class='nav-menu-links'><a href="#">Recent</a></li>
				    <li class='nav-menu-links'><a href="#">Login</a></li>
		        </ul>
	    	</div>
		</div>
		<h1 id="site-title">Adventure Wave.</h1>
		<div id='scope-quote'>Boats, wine and world.</div>
	</header>
	<div id='container'>
		<h2>This is a title inside the main content</h2>

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

	</div>
</body>
</html>