{% extends 'layouts/base.html' %}

{% block content %}
<div class='container' id='hello-container'>
	<table>
	<tr>
		<td id='left-side-image-video'>
			<img id='profile-pic' src='/static/images/anna-krupp.jpg' alt='anna-krupp-profile-pic'>
		</td>
		<td id='right-side-hello'>
				<div id='right-side-hello-content'>
					<p class='line-p'>HI, I'M ANYA.</p>
					<p class='line-p'>JUNIOR DEVELOPER</p>
					<p class='line-p'>My Skills:</p>
					<ul>
						<li>Ruby on Rails</li><br/>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>Ruby on Rails</li>
					</ul>
					<p>Looking forward to learn:</p>
					<ul>
						<li>Python</li>
						<li>Advanced JavaScript</li>
						<li>New gems & libraries</li>
					</ul>
				</div>
		</td>
	</tr>
	</table>
</div>
<div id='links-to-media'>
	<ul>
		<li>GH Ilinks</li>
		<li>Linked In</li>
		<li>GH Ilinks</li>
	</ul>
</div>
{% include '_about.html' %}
{% endblock %}