{% extends 'layouts/base.html' %}

{% block content %}
<div class='container' id='hello-container'>
	<table>
	<tr>
		<td id='left-side-image-video'>
			<img id='profile-pic' src='/static/images/anna-krupp.jpg' alt='anna-krupp-profile-pic'>
		</td>
		<td id='right-side-hello'>
				<div id='right-side-hello-content'>
					<p class='line-p'>HI, I'M ANYA.</p>
					<p class='line-p'>JUNIOR DEVELOPER</p>
					<p class='line-p'>My Skills:</p>
					<ul>
						<li>Ruby on Rails</li><br/>
						<li>HTML</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>Ruby on Rails</li>
					</ul>
					<p>Looking forward to learn:</p>
					<ul>
						<li>Python</li>
						<li>Advanced JavaScript</li>
						<li>New gems & libraries</li>
					</ul>
				</div>
		</td>
	</tr>
	</table>
<div id='links-to-media'>

	<ul>
		<li id='git-hub-cat'><a href='https://github.com/cherchezlafemme' alt='git-hub-link'>
			<img src='/static/images/Octocat.png' width="40" height="40" alt="View Anna's Krupp GitHub Profile">
		</a></li>
		<!-- <li><a href="https://www.linkedin.com/in/anna-krupp">
          	<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Anna Krupp's profile on LinkedIn">
       	</a></li> -->
	</ul>
</div>
</div>
{% include '_about.html' %}
{% endblock %}