{% extends 'layouts/base.html' %}

{% block title %}About - {{ block.super }}{% endblock %}

{% block content %}
<div class='container' id="about">
	<h2 class='sep-page-title'>What makes me happy</h2>
	<div>
		<h3>Helping those in need</h3>
		<p>I was helping a non-profit organization 'All Chicago' to MAKE HOMELESSNESS HISTORY. I worked with marketing director on developing new marketing strategy that was focused on raising awarness in Chicago community about homelessness and getting funds to help those in need. I was responsible of setting app Google Analytics account for the company. I helped the team learn a new to them technology and lead the ptimization of social media channels. I also participated in organization of annual "Purse Power 2014" event.</p>

		<h3>Education</h3>
		<p>Worked as a event coordinator for Youth Job Center in Evanston, IL. Helped with organization of the Automotive Program Graduation Ceremony: Spring 2014 Class. Worked closely with people from diverse backgrounds. It was a rewarding experience, since the Youth Job Center focuses on helping young adults with not favorable past, people of color and minorities to find a new career path and get a fresh start in life.</p>

		<h3>Art</h3>
		<p>Lead fun outdoor activities for kids during the Ethnic Arts Festival for CIty of Evanston. </p>

		<h3>Kids and heritage</h3>
		<p>For 2 years I was a part of the most close to my heart non-profit organization: The Jewish Agency for Israel. I was a playground counselor for the kids aged from 3 to 6 years old. It was a trully rewarding experience be a part of the journey  during which little ones were discovering their heritage, history and the power of the community that was ready to welcome them. </p>
		
	</div>
</div>
{% endblock %}